#hide
{
    display:none;
}
.bg-faded {
    background-color: rgba(66, 60, 100, 0.048);
    font-weight: bolder;
    font-size: larger;
}
.fh5co_header_bg {
    background:  #e92121;
    
}
a{
    font-weight: bolder;
   
}

