
body { margin-top:20px; }
.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }

.btnpay{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: green;
    color: #fff;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}

.l1{
    background-color: blue;
}