<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="" alt=""/>
                        <h3>Welcome</h3>
                        <p>To The Movie World,Enjoy Your Time !</p>
                        <br/>
                    </div>
                    <div class="col-md-9 register-right">
                        <form class="form" (ngSubmit)="Register()" ngNativeValidate>
                        <!--<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hirer</a>
                            </li>
                        </ul>-->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Sign Up</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control"  placeholder="First Name * (accept only alphabets)" pattern="[a-zA-Z ]*" name="f_name" [(ngModel)]="user.firstName" required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control"  placeholder="Your Email *" pattern='^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$' name="email" [(ngModel)]="user.email" required />
                                            
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="password"  [(ngModel)]="user.password" required />
                                           <small>**password must contain 6 characters(altest one number(1-9),uppercase(A-Z),lowercase(a-z))</small>
                                        </div>
                                        
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Last Name * (accept only alphabets)" pattern="[a-zA-Z ]*" name="l_name" [(ngModel)]="user.lastName" required />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" pattern="[0-9]{10}" class="form-control" placeholder="Your Phone *"  [(ngModel)]="user.contactNo" required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control"  placeholder="Confirm Password *" pattern="{{ user.password }}" name="cpassword" required/>
                                        <small>**password and confirm password must be same</small>
                                        </div>
                                        
                                        <input type="submit" class="btnRegister"  value="Register"/>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </form>
                        </div>
                    
                    </div>
                </div>

            
